
Large Data Files/Bibtex export of weeds references hallow.bib
Large Data Files/Graemeweeds.bib
.Rproj.user
.Rhistory
.Rproj.user/6FE4F0E1/pcs/files-pane.pper
.Rproj.user/6FE4F0E1/pcs/source-pane.pper
.Rproj.user/6FE4F0E1/pcs/workbench-pane.pper
.Rproj.user/shared/notebooks/paths
.Rproj.user/shared/notebooks/paths
